<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="wypozyczalniaklient.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="wypozyczalniaklient.Perspective"
            id="WypozyczalniaKlient.perspective">
      </perspective>
      <perspective
            class="wypozyczalniaklient.perspectives.KontaPerspektywa"
            icon="icons/releng_gears.gif"
            id="wypozyczalniaklient.perspectives.KontaPerspektywa"
            name="Konta">
      </perspective>
      <perspective
            class="wypozyczalniaklient.perspectives.WypozyczeniaPerspektywa"
            icon="icons/releng_gears.gif"
            id="wypozyczalniaklient.perspectives.WypozyczeniaPerspektywa"
            name="Wypozyczenia">
      </perspective>
      <perspective
            class="wypozyczalniaklient.perspectives.PunktyPerspektywa"
            icon="icons/releng_gears.gif"
            id="wypozyczalniaklient.perspectives.PunktyPerspektywa"
            name="Punkty">
      </perspective>
      <perspective
            class="wypozyczalniaklient.perspectives.PlytyPerspektywa"
            icon="icons/releng_gears.gif"
            id="wypozyczalniaklient.perspectives.PlytyPerspektywa"
            name="Plyty">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="WypozyczalniaKlient.application"
            name="Wypozyczalnia">
         <property
               name="windowImages"
               value="icons/shortcut-heart.GIF,icons/shortcut-heart.GIF">
         </property>
         <property
               name="appName"
               value="Wypozyczalnia">
         </property>
         <property
               name="aboutImage"
               value="icons/272.GIF">
         </property>
         <property
               name="aboutText"
               value="System zarzadzajacy siecia wypozyczalni plyt DVD">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="WypozyczalniaKlient"
            name="Sample Category">
      </category>
      <view
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.views.listakont.ListaKont"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.views.ListaKont"
            name="Lista uzytkownikow">
      </view>
      <view
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.views.listawypozyczen.ListaWypozyczen"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.views.ListaWypozyczen"
            name="Lista Wypozyczen">
      </view>
      <view
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.views.plyty.ListaFilmow"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.views.plyty.ListaFilmow"
            name="Lista filmów">
      </view>
      <view
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.views.plyty.ListaPlyt"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.views.plyty.ListaPlyt"
            name="Lista płyt">
      </view>
      <view
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.views.plyty.DanePlyty"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.views.plyty.DanePlyty"
            name="Dane płyty">
      </view>
      <view
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.views.plyty.DaneFilmu"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.views.plyty.DaneFilmu"
            name="Dane filmu">
      </view>
      <view
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.views.wypozyczenia.pozycje.PozycjeView"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.views.wypozyczenia.pozycje.PozycjeView"
            name="PozycjeView">
      </view>
      <view
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.views.wypozyczenia.ZamowienieView"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.views.wypozyczenia.ZamowienieView"
            name="ZamowienieView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="wypozyczalniaklient.views.ListaUzytkownikow"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="wypozyczalniaklient.views.Lista Wypozyczen"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="wypozyczalniaklient.views.plyty.ListaFilmow"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="wypozyczalniaklient.views.plyty.ListaPlyt"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="wypozyczalniaklient.views.plyty.DaneFilmu"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="WypozyczalniaKlient"
            name="Kreator Nowego Konta">
      </category>
      <wizard
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.wizards.KreatorNowegoKonta"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.wizards.KreatorNowegoKonta"
            name="KreatorNowegoKonta">
      </wizard>
      <wizard
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.wizards.WypozyczeniaZapytanie"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.wizards.WypozyczeniaZapytanie"
            name="Zapytanie o wypozczenia">
      </wizard>
      <wizard
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.wizards.NoweZamowienie"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.wizards.NoweZamowienie"
            name="Zloz zamowienie">
      </wizard>
      <wizard
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.wizards.zmianastanukonta.ZmianaStanuKontaWizard"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.wizards.zmianastanukonta.ZmianaStanuKontaWizard"
            name="Zmiana stanu konta">
      </wizard>
      <wizard
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.wizards.nowapozycja.NowaPozycjaZamowieniaWizard"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.wizards.nowapozycja.NowaPozycjaZamowieniaWizard"
            name="Nowa pozycja zamówienia">
      </wizard>
      <wizard
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.wizards.zablokujkonto.ZablokujKontoWizard"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.wizards.zablokujkonto.ZablokujKontoWizard"
            name="Zablokuj Konto">
      </wizard>
      <wizard
            category="WypozyczalniaKlient"
            class="wypozyczalniaklient.wizards.zmienstanzamowienia.ZmienStanZamowieniaWizard"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.wizards.zmienstanzamowienia.ZmienStanZamowieniaWizard"
            name="Zmien stan zamówienia">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="wypozyczalniaklient.splashHandlers.BrowserSplashHandler"
            id="wypozyczalniaklient.splashHandlers.browser">
      </splashHandler>
      <splashHandler
            class="wypozyczalniaklient.splashHandlers.InteractiveSplashHandler"
            id="wypozyczalniaklient.splashHandlers.interactive">
      </splashHandler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="wypozyczalniaklient.editors.danekonta.DaneKontaEdytor"
            contributorClass="wypozyczalniaklient.editors.danekonta.DaneKontaEdytorContrib"
            extensions="mpe"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.editors.danekonta.DaneKontaEdytor"
            name="Edytor Danych Konta">
      </editor>
      <editor
            class="wypozyczalniaklient.editors.danezamowienia.DaneZamowienia"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="a"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.editors.danezamowienia.DaneZamowienia"
            name="Dane Zamowienia">
      </editor>
      <editor
            class="wypozyczalniaklient.editors.plyty.FilmEdytor"
            contributorClass="wypozyczalniaklient.editors.plyty.FilmEdytorContributor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.editors.plyty.FilmEdytor"
            name="Edytor danych filmu">
      </editor>
      <editor
            class="wypozyczalniaklient.editors.PlytaEdytor"
            contributorClass="wypozyczalniaklient.editors.PlytaEdytorContributor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="wypozyczalniaklient.editors.PlytaEdytor"
            name="Edytor danych płyty">
      </editor>
   </extension>

</plugin>
